extends layout



block content
    header
        h1(class='title')= title
    main
        div(class="row")
            h2
                |Enter The range to calculate
            div(class="primeForm")
                input(type="number" id="min" class="primeInput" name="min" placeholder="Enter the Min")
                input(type="number" id="max" class="primeInput" name="max" placeholder="Enter the Max")
                button(value="Enter" onclick="ajaxGetNumPrimes()" class="calculatePrime")
                    |Calculate
        div(class="row standard")
            p(id="num-primes")
                |the number of primes is:
            div( id="linechart_material")






