doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='styleSheet', href='/stylesheets/bootstrap.min.css')
    script(src="javascripts/primeNumebrs.js")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
  body
    block content